
{% extends 'users/userbase.html' %}
{% block contents %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
#


 <section id="intro">

    <div class="intro-text">


      <p><h3 align="center" style="color:green;font-weight:bold;">Classification Results</h3></p>

         <form action=" " method="POST" class="text-primary" style="width:100%">
                    {% csrf_token %}
        <center>
            <h3>Random Forest Results</h3>
        <table>
            <tr><td>Accuracy</td><td>{{accuracy}}</td> </tr>
            <tr><td>F1_Score</td><td>{{f1score}}</td> </tr>

        </table>
        </center>
              <center>
            <h3>naive_bayes Results</h3>
        <table>
            <tr><td>Accuracy</td><td>{{accuracy1}}</td> </tr>

            <tr><td>F1_Score</td><td>{{f1score1}}</td> </tr>

        </table>
        </center>
         </form>
    </div>
  </section>




{% endblock %}

