{% extends 'users/userbase.html' %}
{%load static%}
{% block contents %}

<style></style>
<div class="container">
    <center>

    <h1 align="center" class="text-center text-primary">AAPL(EDA)</h1>
    <img src="{%static 'images/newAAPL.png'%}" alt="" >
    <h1 align="center" class="text-center text-primary">BTC(EDA)</h1>
    <img src="{%static 'images/newBTC.png'%}" alt="" >
    <h1 align="center" class="text-center text-primary">IBM(EDA)</h1>
    <img src="{%static 'images/newIBM.png'%}" alt="" >
    <h1 align="center" class="text-center text-primary">Brentoil(EDA)</h1>
    <img src="{%static 'images/Brentoil.png'%}" alt="" >
    <h1 align="center" class="text-center text-primary">Crudeoil(EDA)</h1>
    <img src="{%static 'images/Crudeoil.png'%}" alt="" >
    <h1 align="center" class="text-center text-primary">Natural gas(EDA)</h1>
    <img src="{%static 'images/Natural gas.png'%}" alt="" >
        </center>
</div>
{% endblock %}